@media (max-width: 900px){

    header nav ul li{
        font-size:18px;
        padding-left: 80px;
    }

    section div.info{
        width: 95%;
        margin-top: 75px;
    }

    section div.about-content{
        width: 100%;
    }

    section div.info h1, section div.info h2{
        font-size: 24px;
        line-height: 30px;
    }

    section div.info-img{
        margin-left: 10px;
    }

    section div.info-img img{
        width: 95%;
        height: auto;
    }
}

@media (max-width: 760px){

}