@media (max-width: 900px){
    header nav ul li{
        font-size:18px;
        padding-left: 70px;
    }

    section div.info{
        width: 90%;
        margin-top: 75px;
    }

    section div.info-text{
        margin-left: 10px;
    }

    section div.info h1, section div.info h2{
        font-size: 21px;
        line-height: 25px;
    }

    section div.info-text{
        white-space: pre;
    }

    section div.info-img{
        margin-left: 10px;
    }

    section div.info-img img{
        width: 95%;
        height: auto;
    }

    section.container-about{
        height: 540px;
    }

    section div.about-content{
        width: 100%;
    }

    section div.about-content{
        width: 100%;
        margin: 70px auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    section.container-about h2{
        font-size: 32px;
    }

    section div.about-text p{
        font-size: 16px;
        line-height: 30px;
    }

    section div.about-text{
        max-width: 430px;
        height: 300px;
        padding: 25px 17px;
    }

    section div.portfolio-content h2{
        font-size: 32px;
    }

    section div.projects{
        padding:0 0 45px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section.container-event{
        width: 80%;
        margin: 0 auto;
        height: 660px;
    }

    section.container-event h2{
        font-size: 32px;
    }

    section.container-event h2::after{
        width: 55px;
    }

    section div.event-content img{
        padding: 0 0 50px 0;
    }

    section div.contact-content {
        width: 100%;
    }

    section.container-contact h2{
        font-size: 32px;
    }

    section div.contact-content form{
        margin-left: 20px;
    }

    section div.contact-content form label{
        font-size: 16px;
    }

    section div.contact-content form input{
        width: 350px;
        font-size: 16px;
    }

    section div.contact-content form textarea{
        width: 350px;
        font-size: 16px;
    }

    section div.contact-info h3{
        font-size: 16px;
        text-align: center;
    }

    section div.contact-info p{
        font-size: 16px;
    }

    section div.contact-info img{
        margin-left: 15px;
    }


}

@media (max-width: 760px){
    header nav ul li{
        font-size:18px;
        padding-left: 55px;
    }

    section.container-info{
        height: 400px;
    }

    section div.info{
        margin-top: 45px;
    }

    section div.info-img img{
        display: none;
    }

    section div.info h1, section div.info h2{
        font-size: 32px;
        line-height: 40px;
    }

    section div.info-text{
        white-space: pre;
        margin: 0 auto;
    }

    section.container-contact{
        height: 1200px;
    }

    section div.contact-content {
        display: flex;
        flex-direction: column;
    }

    section div.contact-info{
        margin-top: 50px;
    }
    

}

@media (max-width: 700px){
    header nav ul li{
        font-size:18px;
        padding-left: 45px;
    }

    section.container-about{
        height: 820px;
    }

    section div.about-content{
        display: flex;
        flex-direction: column;
    }

    section div.about-img{
        margin-bottom: 70px;
    }

    section div.about-img img{
        width: 100%;
        height: auto;
    }

    section div.projects img{
        width: 100%;
        height: auto;
    }

    section.container-event {
        height: 560px;
    }
}


@media (max-width: 630px){
    header nav ul li{
        font-size:18px;
        padding-left: 40px;
    }

    section.container-event {
        height: 500px;
    }
}

@media (max-width: 590px){
    header nav ul li{
        font-size:18px;
        padding-left: 38px;
    }

}

@media (max-width: 570px){
    header nav ul li{
        font-size:18px;
        padding-left: 32px;
    }
}

@media (max-width: 532px){
    header nav ul li{
        font-size:18px;
        padding-left: 28px;
    }
}

@media (max-width: 515px){
    header nav ul li{
        font-size:16px;
        padding-left: 28px;
        margin-top: 28px;
    }
}

@media (max-width: 415px){
    header nav ul li{
        font-size:14px;
        padding-left: 16px;
        margin-top: 28px;
    }

    section div.info h1, section div.info h2{
        font-size: 24px;
    }

    section div.about-text{
        margin:0 15px;
    }

    section div.portfolio-content h2 {
        padding: 35px 0 40px 0;
    }

    section.container-event {
        height: 410px;
    }

    section.container-event h2 {
        padding: 35px 0 45px 0;
    }

    section div.contact-info {
        width: 350px;
    }

    section.container-contact h2 {
        padding: 35px 0 40px 0;
    }

    section div.contact-info img {
        margin-left: 0px;
    }

    section div.contact-content form {
        margin-left: 0px;
    }

    section div.contact-content form input{
        width: 260px;
        font-size: 16px;
    }

    section div.contact-content form textarea{
        width: 260px;
        font-size: 16px;
    }

    section.container-contact {
        height: 1170px;
    }

    footer {
        height: 200px;
    }
    
    footer div.container-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer div.footer-info{
        margin-bottom: 30px;
    }
}

@media (max-width: 375px){
    header nav ul li{
        font-size:14px;
        padding-left: 11px;
        margin-top: 28px;
    }

    section.container-about {
        height: 840px;
    }

    section div.about-text {
        height: 350px;
    }

    section div.portfolio-content h2 {
        padding: 30px 0 50px 0;
    }

    section div.projects img {
        margin: 10px 0px;
    }

    section.container-event {
        height: 390px;
    }

    section.container-contact {
        height: 1145px;
    }

    section.container-contact h2 {
        padding: 30px 0 30px 0;
    }

    section div.contact-content form button {
        width: 130px;
    }

}

@media (max-width: 375px){
    header nav ul li {
        padding-left: 5px;
    }

    section div.contact-info img {
        width: 90%;
        height: max-content;
    }

    section div.about-text p {
    font-size: 14px;
    }
}